<section aria-labelledby="next-generation" class="py-12 bg-white">
  <div class="w-full max-w-desktop mx-auto flex flex-col-reverse md:flex-row items-center justify-between overflow-y-hidden">
    
    <div class="circle relative w-full md:w-1/2 px-6 mb-8 md:mb-0 rounded-full md:py-40 md:px-20 md:py-32 md:px-16 sm:py-24 sm:px-12 py-16 px-8">
    
      <div class="relative z-10 font-Roboto">
        
        <h4 class="text-primary-darkGray text-subheading font-bold">{{ section.settings.subheading }}</h4>
        <h1 id="next-generation" class="text-4xl md:text-h1 my-5 font-bold text-black leading-none">{{ section.settings.heading }}</h1>
       
        <p class="mt-4 text-subheading text-primary-gray leading-tight" style="max-width: 45ch;">
          {{ section.settings.text }}
        </p>

        <div class="mt-6 flex w-full flex-col md:flex-row">

          {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_link }}" class="w-full inline-flex items-center justify-center px-6 py-3 text-subheading w-1/2 min-w-heroButton font-medium text-white bg-primary-blue shadow-sm outline-none min-h-heroButton">
              {{ section.settings.button_text }}             
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none" class="ml-5 {% if section.settings.arrow_animation %}animate-slideRight{% endif %}">
                <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM21.7071 8.70711C22.0976 8.31658 22.0976 7.68342 21.7071 7.29289L15.3431 0.928932C14.9526 0.538408 14.3195 0.538408 13.9289 0.928932C13.5384 1.31946 13.5384 1.95262 13.9289 2.34315L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.70711ZM1 9H21V7H1V9Z" fill="white"/>
              </svg>
            </a>
          {% endif %}


          {%- if section.settings.button_text2 != blank -%}
            <a href="{{ section.settings.button_link2 }}" class="w-full mt-5 md:mt-0 md:ml-4 inline-flex items-center justify-center px-6 py-3 text-subheading w-1/2 min-w-heroButton font-medium text-black border border-black shadow-sm outline-none min-h-heroButton">
              {{ section.settings.button_text2 }}
            </a>
          {%- endif -%}

        </div>

      </div>

      <div class="absolute inset-0 flex items-center justify-center">
        <div class="circle-background"></div>
      </div>

    </div>

    <div class="flex flex-row-reverse w-full md:w-[fit-content] md:px-6">
      {% assign image_url_small = section.settings.image | image_url: width: 360 %}
      {% assign image_url_large = section.settings.image | image_url: width: 640 %}
      <img 
        src="{{ image_url_large }}" 
        srcset="{{ image_url_small }} 360w, {{ image_url_large }} 640w" 
        sizes="(max-width: 640px) 100vw, 640px" 
        alt="{{ section.settings.image.alt }}"
        class="max-w-smallHeroImage md:max-w-full h-auto {% if section.settings.shoe_animation == true %}animate-float{% endif %}" 
        width="640" 
        height="auto">
    </div>

  </div>
</section>

<style>
  @media (min-width: 1024px) {
    .circle::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 745px;
      height: 745px; 
      background-color: {{ section.settings.circle_color }};
      border-radius: 50%;
      z-index: 1;
    }
  }
</style>

  {% schema %}
  {
    "name": "Velstar Hero Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Coming Soon"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Next Generation"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Tero Palmroth Design opposes disposable fashion culture. These boots and shoes are made to last. The designs and styles are timeless. The craftsmanship quality is high."
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
            "default": "/"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Pre Order"
        },
        {
            "type": "url",
            "id": "button_link2",
            "label": "Button Link 2",
            "default": "/"
        },
        {
            "type": "text",
            "id": "button_text2",
            "label": "Button Text 2",
            "default": "Read the story"
        },
        {
            "type": "color",
            "id": "circle_color",
            "label": "Circle Color",
            "default": "#F9F8FD",
            "info": "This is the color of the circle in the hero banner."
        },
        {
            "type": "header",
            "content": "Animation Settings",
            "info": "These settings control the animation of the hero banner."
        },
        {
            "type": "checkbox",
            "id": "shoe_animation",
            "label": "Enable Shoe Animation",
            "default": true,
            "info": "This will enable the shoe animation in the hero banner."
        },
        {
          "type": "checkbox",
          "id": "arrow_animation",
          "label": "Enable Arrow Animation",
          "default": true,
          "info": "This will enable the arrow animation in the hero banner."
        }
    ],
    "presets": [
      {
        "category": "Velstar",
        "name": "Velstar Hero Banner"
      }
    ]
  }
  {% endschema %}
  